@model VerserHRManagement.Models.Candidate
@using System.Linq;
@using System.Data.Entity;
@using VerserHRManagement.HelperServices;
@{
    ViewBag.Title = "Register Candidates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
@using (Html.BeginForm("Create", "Candidates", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="col-md-8 col-md-offset-2 col-sm-12">
        @Html.AntiForgeryToken()
        <div class="table-bordered">
            <div class="panel-heading" align="center" style="background-color: #428bca;color:white; ">REGISTER NEW RESOURCE</div>
            <div class="panel-body" style="font-size:x-small;color:grey;border-color:gray">

                <div class="form-horizontal">


                    <div class="row well" style=" margin:0 0 10px 0">
                        <div class="col-md-4">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group required">
                                @Html.Label("Candidate", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.CandidateName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CandidateName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group required">
                                @Html.Label("Email", htmlAttributes: new { @class = "control-label col-md-4" })

                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group required">
                                @Html.Label("Phone", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Address", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group required">
                                @Html.Label("Warehouse", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.DropDownListFor(model => model.WarehouseID, Model.WarehouseNameList, "WAREHOUSE", new { @class = "form-control", id = "ddlWarehouseId" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" style="border-color:gray">
                            <div class="form-group">
                                @Html.Label("City", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group required">
                                @Html.Label("State", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.state, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.state, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="form-group required">
                                @Html.Label("Postcode", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.postcode, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.postcode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group required">
                                @Html.Label("Skills", htmlAttributes: new { @class = "control-label col-md-4" })

                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.CandidateSkills, new { htmlAttributes = new { @class = "form-control", @cols = 1800, @rows = 4 } })
                                    @Html.ValidationMessageFor(model => model.CandidateSkills, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4" style="border-color:gray">
                            <div class="form-group">
                                @Html.Label("Experience", htmlAttributes: new { @class = "control-label col-md-5" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.Experience, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Experience, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("JobTitle", htmlAttributes: new { @class = "control-label col-md-5" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.JobTitle, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.JobTitle, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group required">
                                @Html.Label("Tech-Level", htmlAttributes: new { @class = "control-label col-md-5" })
                                <div class="col-md-6">
                                    @Html.DropDownListFor(model => model.technicalLevelsID, Model.TechnicianLevelList, "Technician Level", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group required">
                                @Html.Label("Categories", htmlAttributes: new { @class = "control-label col-md-5" })
                                <div class="col-md-6">
                                    @Html.DropDownListFor(model => model.ResourceCategoriesID, Model.ResourceCategoriesList, "Resource Categories", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Resume", htmlAttributes: new { @class = "control-label col-md-5" })
                                <div class="col-md-6">
                                    <input type="file" name="UploadResumeFile" id="ResumeFile" />
                                    @Html.HiddenFor(model => model.FilePath)
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="row well" style="margin:0">

                        <div class="col-md-4">

                            <div class="form-group required">
                                @Html.Label("EmployeeID", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.ADP_EmployeeID, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ADP_EmployeeID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group required">
                                @Html.Label("AssignedType", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.DropDownListFor(model => model.AssignResourcesID, Model.AssignResourceList, "AssignResource", new { @class = "form-control", id = "ddlWarehouseId" })

                                </div>
                            </div>
                            <div class="form-group required">
                                @Html.Label("WorkRights", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.DropDownListFor(model => model.WorkRightID, Model.WorkRightsList, "Works Rights", new { @class = "form-control", id = "ddlEmploymentId" })
                                </div>
                            </div>
                            <div class="form-group required">
                                @Html.Label("PayFrequency", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.DropDownListFor(model => model.payFrequenciesID, Model.PayFrequencyList, "Pay Frequency", new { @class = "form-control", id = "ddlEmploymentId" })

                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">

                            <div class="form-group">
                                @Html.Label("EmployeeStatus", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.DropDownListFor(model => model.EmployeeStatusSetID, Model.EmployeeStatusList, "Employee Status", new { @class = "form-control", id = "ddlEmploymentId" })
                                </div>
                            </div>
                            <div class="form-group required">
                                @Html.Label("EmploymentType", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.DropDownListFor(model => model.EmployementTypeId, Model.EmploymentList, "Employment Type", new { @class = "form-control", id = "ddlEmploymentId" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("NoticePeriod", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.NoticePeriod, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NoticePeriod, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Daily-Rate", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.DailyRate, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DailyRate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.Label("Annual-Salary", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.Annualsalary, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Annualsalary, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Availability", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.Availability, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Availability, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group required">
                                @Html.Label("Hourly-Rate", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.HourlyRate, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.HourlyRate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group required">
                                @Html.Label("DriverLicense", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.DropDownListFor(model => model.DrivingLicenseID, Model.DrivingLicensesList, "Driver License", new { @class = "form-control" })
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="panel-footer primary" align="left" style="vertical-align:top;background-color:lightgrey">
            @if (UserRoles.UserCanEdit() == true)
            {
                <input type="submit" value="SAVE CHANGES" class="btn btn-sm btn-primary" style="background-color:#428bca;border-color:#428bca" id="updateEmploymentDetailsBtn" />
            }
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<style>
/*    .btn {
        display: block;
        border: none;
        height: 33px;
        background-color: #428bca;
        color: white;
        padding: 1px 28px;
        font-display: block;
        font-size: 14px;
        cursor: pointer;
        text-align: center;
    }*/



    .form-group {
        margin-bottom: 2px;

        font-size: 12px;
        border-radius: 9px;
        padding-bottom: 5px;
        margin-top: 2px;
    }


    .row.no-pad > [class*='col-'] {
        padding-right: 0;
        padding-left: 0;
    }

    .btn-warning {
        background-color: darkgrey;
        border-color: lightgray;
        font-size: 14px;
    }

    .form-control {
        margin-bottom: 2px;
        font-size: 12px;
        border-radius: 9px;
        padding-bottom: 5px;
        margin-top: 2px;
    }

    .panel-footer {
        padding: 3px 30px;
        background-color: #f5f5f5;
        border-top: 1px solid #dddddd;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .form-group.required .control-label:after {
        content: "*";
        color: red;
        padding-bottom: 15px;
    }
</style>
