@model VerserHRManagement.Models.Candidate

<form>
    <div class="col-md-9">
        <div class="form-group row">
            <div class="col-md-4">
                <div class="col-sm-12">

                    <img class="preview-img" src="http://simpleicon.com/wp-content/uploads/account.png" alt="Preview Image" width="250" height="150" id="previewImage" onchange="readURL(this);" />

                    <img id="image" class="image-border form-control form-control-sm" width="250" height="150">

                    <input type="file" id="imgupload" style="display:none" onchange="readURL(this);" />
                </div>
            </div>

        </div>
        <div class="row well" style="margin-bottom:0 !important">
            <div class="form-group row">
                <div class="col-md-4" style="margin-right:0px">
                    <label>First Name</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>  <input type="text" id="txtfName" class="form-control" placeholder="">
                    </div>
                </div>

                <div class="col-md-4">
                    <label>Last Name</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span> <input type="text" id="txtlName" class="form-control" placeholder="">
                    </div>
                </div>

                <div class="col-md-4">
                    <label>Employment Type</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-briefcase"></i>
                        </span>@Html.DropDownListFor(model => model.EmploymentTypesID, Model.EmploymentList, "Employment Type", new { @class = "form-control", id = "ddlEmploymentType" })
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-4">
                    <label>Warehouse</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fas fa-warehouse"></i>
                        </span> @Html.DropDownListFor(model => model.WarehouseID, Model.WarehouseNameList, "WAREHOUSE", new { @class = "form-control", id = "ddlWarehouseId" })
                    </div>

                </div>
                <div class="col-md-4">
                    <label>Categories</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fas fa-user-tie"></i>
                        </span> @Html.DropDownListFor(model => model.ResourceCategoriesID, Model.ResourceCategoriesList, "Resource Categories", new { @class = "form-control", id = "ddlResourcesCatId" })
                    </div>

                </div>
                <div class="col-md-4">
                    <label>Driving License</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fas fa-truck"></i>
                        </span>  @Html.DropDownListFor(model => model.DrivingLicenseID, Model.DrivingLicensesList, "Driver License", new { @class = "form-control", id = "ddlDrivingLicenseID" })
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label>Email:</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-envelope"></i>
                        </span><input id="txtEmail" placeholder="Email" class="form-control" required="true" value="" type="text">
                    </div>
                </div>
                <div class="col-md-4">
                    <label>Mobile</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fas fa-mobile-alt" style="font-size:20px"></i>
                        </span><input id="txtMobile" placeholder="Phone Number" class="form-control" required="true" value="" type="text">
                    </div>
                </div>

                <div class="col-md-4">
                    <label>Hourly Rate</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-usd"></i>
                        </span><input type="text" class="form-control" id="txtHourlyRate" placeholder="Hourly Rate">
                    </div>
                </div>
            </div>

            <div class="col-md-4" style="padding:0; margin-bottom:10px">
                <label>Active</label>
                <div class="input-group">
                    <input type="checkbox" checked data-toggle="toggle" data-onstyle="warning" id="chkIsActive" onchange="ResourceChange(this);">
                </div>
                @*</div>*@
                @*<div class="col-md-3">*@
                <label></label>
                @Html.DropDownListFor(Model => Model.InactiveReason, new List<SelectListItem>
                    { new SelectListItem {Text="Resigned",Value="1" },
                    new SelectListItem {Text="Unsuitable",Value="2" },
                    new SelectListItem {Text="Lapsed",Value="3" },
                    }, "InActive Reason", new { @class = "form-control", @id = "ddlInactiveReason", @onchange = "UpdateInactiveReason();" })
                @Html.ValidationMessageFor(model => model.InactiveReason, "", new { @class = "text-danger" })
                @*</div>*@
            </div>

            <div class="col-sm-12 col-md-8" style="padding:0">
                <div class="table table-bordered pull-right" style="margin-bottom:0px">
                    <div class="row">
                        <div class="col-xs-12 col-md-2">
                            <h1 class="rating-num" id="ratingheader"></h1>
                            <div class="rating" id="ratingdiv">

                            </div>
                            <div class="col-md-2">
                                <span id="ratingtotal" class="glyphicon glyphicon-user"></span>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-10" style="margin-top:10px">

                            <div style="margin-bottom:2px">
                                <div class="col-xs-4 col-md-1 text-right" style="font-size:8px">
                                    <span class="glyphicon glyphicon-star" style="font-size:6px"></span>5
                                </div>
                                <div class="col-xs-8 col-md-11">
                                    <div class="progress progress-striped">
                                        <div id="divspan5" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20"
                                             aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end 5 -->
                            <div style="margin-bottom:2px">
                                <div class="col-xs-4 col-md-1 text-right" style="font-size:8px">
                                    <span class="glyphicon glyphicon-star" style="font-size:6px"></span>4
                                </div>
                                <div class="col-xs-8 col-md-11">
                                    <div class="progress">
                                        <div id="divspan4" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20"
                                             aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end 4 -->
                            <div class="col-xs-4 col-md-1 text-right" style="font-size:8px">
                                <span class="glyphicon glyphicon-star" style="font-size:6px"></span>3
                            </div>
                            <div class="col-xs-8 col-md-11">
                                <div class="progress">
                                    <div id="divspan3" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20"
                                         aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                            </div>
                            <!-- end 3 -->
                            <div class="col-xs-4 col-md-1 text-right" style="font-size:8px">
                                <span class="glyphicon glyphicon-star" style="font-size:6px"></span>2
                            </div>
                            <div class="col-xs-8 col-md-11">
                                <div class="progress">
                                    <div id="divspan2" class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="20"
                                         aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                            </div>
                            <!-- end 2 -->
                            <div class="col-xs-4 col-md-1 text-right" style="font-size:8px">
                                <span class="glyphicon glyphicon-star" style="font-size:6px"></span>1
                            </div>
                            <div class="col-xs-8 col-md-11">
                                <div class="progress">
                                    <div id="divspan1" class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80"
                                         aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                            </div>
                            <!-- end 1 -->

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-3">
        <div class="list-group pull-right" id="feature" style="padding-top:10PX;padding-right:5px; width:100%; height:660px;overflow-y:scroll;">

            <a href="#" class="list-group-item list-group-item-action active" style="background-color:orange; border:none">MONTHLY BIRTHDAY'S</a>

            @foreach (var Resourcereportings in Model.CurrentBirthdays)
            {
                <a href="#" class="list-group-item list-group-item-action">

                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"> @Resourcereportings</h5>
                        <small class="text-muted"> Happy Birthday!</small>
                    </div>
                </a>
            }
        </div>
        @*<div class="list-group pull-right" style="padding-top:10PX;padding-right:5px; height:300px;overflow-y:scroll; width:100%" id="reportingDiv">
            </div>*@
    </div>

</form>