<!DOCTYPE html>
<html>
<head>

    @using VerserHRManagement.HelperServices
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Verser HRMS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script type='text/javascript'>
        var appInsights = window.appInsights || function (config) {
            function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } }
            var t = { config: config },
                u = document,
                e = window,
                o = 'script',
                s = u.createElement(o),
                i, f; for (s.src = config.url || '//az416426.vo.msecnd.net/scripts/a/ai.0.js',
                    u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie,
                    t.queue = [], i = ['Event', 'Exception', 'Metric', 'PageView', 'Trace', 'Ajax'];
                i.length;)r('track' + i.pop()); return r('setAuthenticatedUserContext'),
                    r('clearAuthenticatedUserContext'),
                    config.disableExceptionTracking || (i = 'onerror', r('_' + i), f = e[i],
                        e[i] = function (config, r, u, e, o) {
                            var s = f && f(config, r, u, e, o);
                            return s !== !0 && t['_' + i](config, r, u, e, o),
                                s
                        }), t
        }
            ({
                instrumentationKey: '038f5354-ac8b-45bb-b288-6a047913e343'
            });
        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>
</head>

<body>
    <div class="navbar navbar-fixed-top" style="background-color:black; padding:0 10px;height:50px; border:none">

        <div class="navbar-header pull-left">
            <a a href="@Url.Action("Index", "Candidates")">
                <img class="" src="~/Images/Verser.jpg" style="height:50px; width:140px;" />
            </a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (Session["FullUserName"] != null)
                {
                    <li style="font-size:16px;">@Html.ActionLink("Verser HRMS", "Index", "Candidates")</li>
                }
            </ul>

            <form class="form-inline col-sm-4 col-sm-offset-3" style="margin-top:7px; overflow:hidden">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="background-color:darkorange">Search</button>
            </form>

            <ul class="nav navbar-nav" style="float:right; margin-right:30px">
                @if (Session["FullUserName"] != null)
                {
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            @Session["FullUserName"].ToString()
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                            </svg>
                        </a>
                        <ul class="dropdown-menu" style="right:0">
                            @if (UserRoles.UserCanEdit())
                            {
                                <li id="navdrop">@Html.ActionLink("Profile Register", "Create", "Candidates", null, new { style = "padding:12px 20px" })</li>
                                <li id="navdrop">@Html.ActionLink("Bulk SMS", "Index", "MultiSelectDropDown", null, new { style = "padding:12px 20px" })</li>
                            }
                            <li id="navdrop">@Html.ActionLink("Logout", "Login", "Login", null, new { style = "padding:12px 20px" })</li>
                        </ul>
                    </li>
                }
                @*else
            {
                <li style="font-size:small;color:white;font-weight:100;float:right">@Html.ActionLink("Login", "Login", "Login")</li>
            }*@
            </ul>
        </div>
    </div>

    <div>
        @RenderBody()
        @*<hr />*@
        @*<footer>
                <p>&copy; @DateTime.Now.Year -Verser Technology Lifecycles</p>
            </footer>*@
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>


<style>

    html,
    body {
        height: 100%
    }

    .navbar-nav > li > a {
        color: white;
        font-family: sans-serif;
        font-weight: 600;
    }

        .navbar-nav > li > a:hover {
            background-color: darkorange !important;
            color: black;
        }

    #navdrop {
        color: white;
        font-family: sans-serif;
        font-weight: 600;
    }

        #navdrop :hover {
            background-color: orange !important;
            color: black;
        }

    a {
        color: gray;
    }

    .navbar, .navbar div {
        min-height: 40px;
        max-height: 60px;
        height: 50px;
        /*// margin-left: 60px;*/
    }
    /* Additional styles to style some of your child elements */
    .navbar-brand {
        padding: 10px;
    }

    .navbar .navbar-toggle {
        padding: 4px 10px;
    }
</style>