<!DOCTYPE html>
<html>
<head>
    @using VerserHRManagement.HelperServices
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Verser HRMS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
   
    <script type='text/javascript'>
        var appInsights = window.appInsights || function (config) {
            function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } }
            var t = { config: config },
                u = document,
                e = window,
                o = 'script',
                s = u.createElement(o),
                i, f; for (s.src = config.url || '//az416426.vo.msecnd.net/scripts/a/ai.0.js',
                    u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie,
                    t.queue = [], i = ['Event', 'Exception', 'Metric', 'PageView', 'Trace', 'Ajax'];
                i.length;)r('track' + i.pop()); return r('setAuthenticatedUserContext'),
                    r('clearAuthenticatedUserContext'),
                    config.disableExceptionTracking || (i = 'onerror', r('_' + i), f = e[i],
                        e[i] = function (config, r, u, e, o) {
                            var s = f && f(config, r, u, e, o);
                            return s !== !0 && t['_' + i](config, r, u, e, o),
                                s
                        }), t
        }
            ({
                instrumentationKey: '038f5354-ac8b-45bb-b288-6a047913e343'
            });
        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>
</head>

<body>
    <div class="navbar navbar-fixed-top" style="background-color:black; padding:0 10px;">

        <div class="navbar-header pull-left">
            <div id="LogoImage" style="float: left; padding-right: 20px">
                <img src="~/Images/verser.jpg" style="height:48px; width:150px; margin:0 15px;" />
            </div>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (Session["FullUserName"] != null)
                {
                    <li>@Html.ActionLink("Verser HRMS", "Index", "Candidates")</li>
                }
            </ul>
            <ul class="nav navbar-nav" style="float:right; margin-right:60px">

                @if (Session["FullUserName"] != null)
                {
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            @Session["FullUserName"].ToString()
                        </a>
                        <ul class="dropdown-menu">
                            @if (UserRoles.UserCanEdit())
                            {
                                <li style="margin:5px 0">@Html.ActionLink("Profile Register", "Create", "Candidates")</li>
                                <li style="margin:5px 0">@Html.ActionLink("Bulk SMS", "Index", "MultiSelectDropDown")</li>
                            }
                            <li style="margin:5px 0 0 0">@Html.ActionLink("Logout", "Login", "Login")</li>
                        </ul>
                    </li>
                }
                else
                {
                    <li style="font-size:small;color:white;font-weight:100;float:right">@Html.ActionLink("Login", "Login", "Login")</li>
                }
            </ul>
        </div>
    </div>

    <div>
        @RenderBody()
        <hr />
    </div>

    @*<footer>
        <p>&copy; @DateTime.Now.Year -Verser Technology Lifecycles</p>
    </footer>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<style>

    html,
    body {
        height:100%
    }

        .navbar-nav > li > a {
            color: white;
            font-family: sans-serif;
            font-weight: 600;
        }

            .navbar-nav > li > a:hover {
                background-color: darkorange !important;
                color: black;
            }

    a {
        color: gray;
    }

    .navbar, .navbar div {
        min-height: 40px;
        max-height: 60px;
        height: 50px;
        /*// margin-left: 60px;*/
    }
    /* Additional styles to style some of your child elements */
    .navbar-brand {
        padding: 10px;
    }

    .navbar .navbar-toggle {
        padding: 4px 10px;
    }
</style>