@using VerserHRManagement.Models

@model  VerserHRManagement.Models.MultiSelectDropDownViewModel


@{
    ViewBag.Title = "ASP.NET MVC5: Multi Select Dropdown List";
}

<link rel="stylesheet" href="bootstrap-select.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.1.1/css/mdb.min.css" rel="stylesheet">
<link href="@Url.Content("https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css")" rel="stylesheet" type="text/css" />
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="bootstrap-select.js"></script>
<br />
<div class="row">
    <div class="col-md-offset-0 col-md-4 col-md-push-0">
        <section>
            @using (Html.BeginForm("Index", "MultiSelectDropDown", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

               
                <div class="well" style="width:170%; height:770px">
                    <br />
                    <div class="row">
                        <div class="col-md-12 col-md-push-0">

                            <div class="form-group" style="height:100%">
                            <div class="input-group" style="height:500px; width:280px; vertical-align:top">
                                <span style="height:450px" class="input-group-addon icon-custom">

                                </span>

                                @Html.ListBoxFor(m => m.SelectedMultiCandidateId, this.ViewBag.CountryList as SelectList, new { id = "CountryList", @class = "selectpicker show-menu-arrow form-control input-lg", @style = "width:550px;height:100%;" })

                            </div>
                        </div>



                            <div class="form-group col-md-12" style="width:250%">
                                <label for="exampleFormControlTextarea2">Message(200 character No Space, Line Break)</label>

                                @Html.EditorFor(m => m.MessageText, new { htmlAttributes = new { @class = "form-control", rows = "3", cols = "12" } })

                            </div>

                            <div class="col-md-2 col-md-push-2" style="padding:20px">
                                <div class="form-group">
                                    <input type="submit" class="btn btn-danger" value="Submit" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            }
        </section>
    </div>


    @if (Model.CandidateList != null &&
         Model.CandidateList.Count > 0)
    {
        <br>
        <div class="row">
            <div class="col-md-4">

                <table class="table table-bordered table-striped" style="width:50%; background-color:white">
                    <thead>
                        <tr>

                            <th style="text-align: center;background-color:#FF9933">Resources Selected</th>
                        </tr>
                    </thead>

                    <tbody>
                        @for (int i = 0; i < Model.CandidateList.Count; i++)
                        {
                            <tr>
                                <td style="text-align:center;">@Model.CandidateList[i].CandidateName</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    }


</div>

@*<div class="col-md-12 col-md-push-2">
        <div class="input-group-prepend">
            <label>Message:</label>
            <input class="form-control input-lg" id="inputlg" type="text">
        </div>

    </div>*@

<script>
    $(document).ready(function () {
        // Enable Live Search.
        $('#CountryList').attr('data-live-search', true);

        //// Enable multiple select.
        $('#CountryList').attr('multiple', true);
        $('#CountryList').attr('data-selected-text-format', 'count');

        $('.selectCountry').selectpicker(
            {
                showTick: true,
                width: '200%',
                style: 'btn-warning',
                size: 8,
                iconBase: 'fontawesome',
                tickIcon: 'fa fa-check'
            });
    });



</script>

<style>
    .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
        position: relative;
        display: inline-block;
        right: 15px;
        /*margin-top: 5px;*/
        left: 2px;
    }

    .bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
        margin-right: 34px;
    }
</style>

